// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700';
$font-family--primary    : 'Roboto Condensed', sans-serif;
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;


// Text

$base__font-size : 16px;
$base__line      : 24px;
$base__color     : #5c5c5c;
